footer {
    margin-top: 100px;
    align-items: center;

    hr {
        width: 700px;
        margin-left: 120px;
        margin-bottom: 40px;
    }
    .footerRow {
        display: flex;
        justify-content: space-evenly;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
    }

    .copyright {
       text-align: center;
       margin-top: 30px;
       font-weight: lighter;
       font-size: 13px;
    }
}